.l__region {
	width: 100%;
}

.l__region+.l__region {
	margin-top: 1.875rem;
}

@media (min-width: 48em) {
	.l__region+.l__region {
		margin-top: 3.75rem;
	}
}

@media (min-width: 64em) {
	.l__region+.l__region {
		margin-top: 0;
	}
}

.l__header+.l__main {
	margin-top: 1.875rem;
}

.l__main+.l__footer {
	margin-top: 1.875rem;
}

.l__main {
	width: 100%;
}

@media (min-width: 64em) {
	.l--prototype-layouts-onecolumn .l__main {
		display: block;
	}
}

.l--prototype-layouts-onecolumn .l__region {
	width: 100%;
}

.l__main>.l__primary,
.l__main>.l__secondary {
	width: 100%;
}

@media (min-width: 64em) {
	.l__main {
		display: grid;
		grid-template-rows: auto;
		justify-content: space-between;
	}
	.l__main>.l__primary {
		grid-area: primary;
	}
	.l__main>.l__secondary {
		grid-area: secondary;
	}
	.l__main>.l__tertiary {
		grid-area: tertiary;
	}
	.l--prototype-layouts-twocolumn-halves .l__main {
		grid-template-columns: 43.47826% 43.47826%;
		grid-template-areas: "primary secondary";
	}
	.l--prototype-layouts-twocolumn-onethird-twothirds .l__main {
		grid-template-columns: 30.43478% 65.21739%;
		grid-template-areas: "primary secondary";
	}
	.l--prototype-layouts-twocolumn-twothirds-onethird .l__main {
		grid-template-columns: 65.21739% 30.43478%;
		grid-template-areas: "primary secondary";
	}
	.l--prototype-layouts-threecolumn-thirds .l__main {
		grid-template-columns: 30.43478% 30.43478% 30.43478%;
		grid-template-areas: "primary secondary tertiary";
	}
	.l--prototype-layouts-threecolumn-half-quarter-quarter .l__main {
		grid-template-columns: 43.47826% 21.73913% 21.73913%;
		grid-template-areas: "primary secondary tertiary";
	}
	.l--prototype-layouts-threecolumn-quarter-half-quarter .l__main {
		grid-template-columns: 21.73913% 43.47826% 21.73913%;
		grid-template-areas: "primary secondary tertiary";
	}
	.l--prototype-layouts-threecolumn-quarter-quarter-half .l__main {
		grid-template-columns: 21.73913% 21.73913% 43.47826%;
		grid-template-areas: "primary secondary tertiary";
	}
}