{#
/**
 * @file
 * Template for a generic layout.
 */
#}
{%
  set classes = [
    'layout',
    'l--' ~ layout.id|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="l--padded">
      {% if content.header %}
        <div {{ region_attributes.header.addClass('l__region', 'l__header') }}>
          {{ content.header }}
        </div>
      {% endif %}

      <div class="l__main">
        {% if attributes.hasClass('column-priority-right') %}
        {% if content.tertiary %}
          <div {{ region_attributes.tertiary.addClass('l__region', 'l__tertiary') }}>
            {{ content.tertiary }}
          </div>
        {% endif %}

        {% if content.secondary %}
          <div {{ region_attributes.secondary.addClass('l__region', 'l__secondary') }}>
            {{ content.secondary }}
          </div>
        {% endif %}

        {% if content.primary %}
          <div {{ region_attributes.primary.addClass('l__region', 'l__primary') }}>
            {{ content.primary }}
          </div>
        {% endif %}

      {% else %}

        {% if content.primary %}
          <div {{ region_attributes.primary.addClass('l__region', 'l__primary') }}>
            {{ content.primary }}
          </div>
        {% endif %}

        {% if content.secondary %}
          <div {{ region_attributes.secondary.addClass('l__region', 'l__secondary') }}>
            {{ content.secondary }}
          </div>
        {% endif %}

        {% if content.tertiary %}
          <div {{ region_attributes.tertiary.addClass('l__region', 'l__tertiary') }}>
            {{ content.tertiary }}
          </div>
        {% endif %}

      {% endif %}
      </div>

      {% if content.footer %}
        <div {{ region_attributes.footer.addClass('l__region', 'l__footer') }}>
          {{ content.footer }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
